*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
}

.main{
    display: grid;
    gap: 10px;
    width: 50%;
    margin: 100px auto;
    padding: 50px;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'a a a b'
    'c c d d'
    'c c e e';
}

.main div{
    padding: 50px;
}

.box-1{
    background-color: orangered;
    grid-area: a;
}

.box-2{
    background-color: rgb(255, 162, 0);
    grid-area: b;
}

.box-3{
    background-color: green;
    grid-area: c;
}

.box-4{
    background-color: rgb(0, 183, 255);
    grid-area: d;
}

.box-5{
    background-color: rgb(0, 183, 255);
    grid-area: e;
}